.hj{
  position: relative;
  bottom:300px;
  border:36px;
  width:28px;
  top:360px;
}
.ht{
  position: absolute;
  top:360px;
  bottom:20px;
  width:36px;
}
.J{
  position: relative;
  bottom:25px;
  top:63px;
}